[Desktop Entry]
Type=Application
Version=1.0
Name=HubNet Client
Comment=NetLogo HubNet Client
Exec=HubNetClient
Icon=com.danielvartan.HubNetClient
Categories=Education;Science;Java;
Terminal=false
