[Desktop Entry]
Type=Application
Version=1.0
Name=Behaviorsearch
Comment=NetLogo Behaviorsearch tool
Exec=Behaviorsearch %F
Icon=com.danielvartan.Behaviorsearch
Categories=Education;Science;Java;
Terminal=false
MimeType=application/x-behaviorsearch-model;
