[Desktop Entry]
Type=Application
Version=1.0
Name=NetLogo 3D
Comment=NetLogo 3D modeling environment
Exec=NetLogo3D %F
Icon=com.danielvartan.logopak.NetLogo3D
Categories=Education;Science;
Terminal=false
MimeType=application/x-netlogo;
Keywords=agent-based;simulation;modeling;3D;Logo;
