[Desktop Entry]
Type=Application
Version=1.0
Name=NetLogo
Comment=A multi-agent programmable modeling environment
Exec=NetLogo %F
Icon=com.danielvartan.netlogo.NetLogo
Categories=Education;Science;Java;
Terminal=false
MimeType=application/x-netlogo;
StartupWMClass=org-nlogo-app-App
