[Desktop Entry]
Type=Application
Version=1.0
Name=BehaviorSearch
Comment=NetLogo BehaviorSearch tool
Exec=BehaviorSearch %F
Icon=com.danielvartan.logopak.BehaviorSearch
Categories=Education;Science;Java;
Terminal=false
MimeType=application/x-behaviorsearch;
StartupWMClass=bsearch.fx.MainGUI
