on:
  push:
    branches: [main, master]
  pull_request:

name: build-flatpak.yaml

jobs:
  flatpak:
    name: Build Flatpak
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Build Flatpak
      uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: com.danielvartan.netlogo.flatpak
        manifest-path: flatpak/com.danielvartan.netlogo.yaml
        cache-key: flatpak-builder-${{ github.sha }}
